body {
    background-color: #003147; 
}

  .column {
    width: 50vw; 
    padding: 10px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-content:center ;
    flex-wrap: wrap;
  }
  .row {
    min-height: 40vh;
  }
  .container {
    justify-content: space-between;
    padding:0px 50px ;
    display: flex;
  }
